Checks: >
  -*,
  performance-*,
  modernize-*,
  readability-*,
  -readability-redundant-declaration,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-redundant-inline-specifier,
  -readability-identifier-naming,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-math-missing-parentheses,
  -readability-avoid-nested-conditional-operator,
  -readability-isolate-declaration,
  -performance-avoid-endl,
  -readability-named-parameter,
  -modernize-use-nodiscard,
  -readability-implicit-bool-conversion,
  -readability-convert-member-functions-to-static,
  -readability-use-anyofallof
