[submodule "external/qhull"]
	path = external/qhull
	url = https://github.com/qhull/qhull.git
[submodule "external/ndspan"]
	path = external/ndspan
	url = https://github.com/phyzan/ndspan
[submodule "external/polybox"]
	path = external/polybox
	url = https://github.com/phyzan/polybox
[submodule "external/xdiff"]
	path = external/xdiff
	url = https://github.com/phyzan/xdiff
